services:
  superset:
    image: mysuperset:latest
    container_name: jawad-superset
    ports:
      - "8088:8088"
    env_file:
      - .env
    volumes:
      - ./volumes/superset:/app/superset_home
      - ./superset_config.py:/app/pythonpath/superset_config.py
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge
